<footer>
    <div class="content">
        <div class="footer-logo">
            <a href="#" class="logo">
                <span class="logo__first">АВТОСАЛОН</span>
                <span class="logo__second">AVTOEXPORT24</span>
            </a>
            <div class="copyright">&#169; 2004–2016 ООО «АВТОЭКСПОРТ»</div>
        </div>
        <div class="footer-nav">
            <div class="footer-nav__first">
                <a href="#">Главная</a>
                <a href="#">О нас</a>
                <a href="#">Каталог</a>
                <a href="#">Наши тарифы</a>
            </div>
            <div class="footer-nav__second">
                <a href="#">Новости</a>
                <a href="#">Контакты</a>
                <a href="#">Вакансии</a>
                <a href="#">FAQ</a>
            </div>
        </div>
        <div class="contact-social">
            <div class="address">г. Могилев <br> ул. Ленинская 48, д.31</div>
            <div class="social">
                <a href=""><img src="img/icon/vk.png" alt=""></a>
                <a href=""><img src="img/icon/tweet.png" alt=""></a>
                <a href=""><img src="img/icon/link.png" alt=""></a>
                <a href=""><img src="img/icon/fb.png" alt=""></a>
            </div>
        </div>
        <div class="contact-phone">
            <div>+375 (29) 822-22-22</div>
            <a href="#" class="free-call">Заказать звонок</a>
            <div class="develop">Разработка сайта - <a href="#">Dlutski.by</a></div>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>
</body>
</html>