<header>
    <div class="content">
        <a href="#" class="logo">
            <span class="logo__first">АВТОСАЛОН</span>
            <span class="logo__second">AVTOEXPORT24</span>
        </a>
        <div class="header-nav">
            <a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Каталог</a>
            <a href="#">Новости</a>
            <a href="#">Контакты</a>
            <a href="#">faq</a>
        </div>
        <div class="number">
            <div>+375 (29) 711-11-11</div>
            <a href="#" class="free-call">Заказать звонок</a>
        </div>
        <div class="address">г. Могилев, ул. Ленинская, 48, д. 31</div>
        <div class="company-title">
            <h3> РЕАЛЛИЗАЦИЯ КОММЕРЧЕСКОГО<br>ТРАНСПОРТА</h3>
            <h5>АВТОМОБИЛИ ИЗ ЕВРОПЫ БЕЗ ПРОБЕГА ПО РФ</h5>
        </div>
        <div class="form-vertical form-horizontal">
            <form>
                <div class="mark-model horizont-mark">
                    <span>Марка и модель автомобиля</span>
                    <select name="" class="auto-mark">
                        <option value="">Марка</option>
                        <option value="">Audi</option>
                        <option value="">Opel</option>
                        <option value="">Reno</option>
                    </select>
                    <select name="" class="auto-model">
                        <option value="">Модель</option>
                        <option value="">Audi</option>
                        <option value="">Opel</option>
                        <option value="">Reno</option>
                    </select>
                </div>
                <div class="auto-mileage horizont-mile">
                    <span>Пробег</span>
                    <select name="" class="mileage-from">
                        <option value="">От</option>
                        <option value="">1995461</option>
                        <option value="">1954692</option>
                        <option value="">1954693</option>
                    </select>
                    <select name="" class="mileage-to">
                        <option value="">До</option>
                        <option value="">2014560</option>
                        <option value="">2045611</option>
                        <option value="">2045612</option>
                    </select>
                </div>
                <div class="year horizont-year">
                    <span>Год выпуска</span>
                    <select name="" class="year-from">
                        <option value="">От</option>
                        <option value="">1991</option>
                        <option value="">1992</option>
                        <option value="">1993</option>
                    </select>
                    <select name="" class="year-to">
                        <option value="">До</option>
                        <option value="">2010</option>
                        <option value="">2011</option>
                        <option value="">2012</option>
                    </select>
                </div>
                <div class="auto-price horizont-price">
                    <span>Цена</span>
                    <select name="" class="price-from">
                        <option value="">От</option>
                        <option value="">1995461</option>
                        <option value="">1954692</option>
                        <option value="">1954693</option>
                    </select>
                    <select name="" class="price-to">
                        <option value="">До</option>
                        <option value="">2014560</option>
                        <option value="">2045611</option>
                        <option value="">2045612</option>
                    </select>
                </div>
                <button class="horizont-btn"><i></i></button>
            </form>
        </div>
    </div>
</header>