@media all {
  body {
    .content {
      .about-car {
        display: inline-block;
        width: 820px;
        margin-bottom: 118px;
        .carinfo-big {
          display: inline-block;
          width: 820px;
          margin-top: 19px;
          background-color: #fff;
          padding-bottom: 17px;
          .carinfo-big__title {
            margin-top: 8px;
            margin-left: 12px;
            margin-bottom: 14px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f0f0f0;
            .carinfo-big__model {
              display: inline-block;
              font: normal 16.15px "roboto-regular";
            }
            .carinfo-big__price {
              float: right;
              font: normal 24px "roboto-regular";
              color: #09ac70;
              padding-top: 7px;
              padding-right: 10px;
            }
            .carinfo-big__details {
              margin-top: 10px;
              ul {
                list-style: circle;
                margin: 0;
                padding: 0;
                overflow: hidden;
                li {
                  color: #b9b9b9;
                  float: left;
                  margin-left: 23px;
                  font: normal 10.77px "roboto-light";
                }
              }
            }
          }
          .carinfo-big__body {
            .left-photo {
              width: 646px;
              display: inline-block;
              margin-left: 12px;
              position: relative;
              a{
                display: inline-block;
                position: absolute;
                top: 50%;
                margin-top: -51.5px;
              }
              a:first-child{
                background: url("../img/icon/left-slide.png") no-repeat;
                width: 28px;
                height: 67px;
                margin-left: 11px;
              }
              a:last-child{
                background: url("../img/icon/right-slide.png") no-repeat;
                width: 28px;
                height: 67px;
                right: 0;
                margin-right: 11px;
              }
            }
            .right-photo {
              float: right;
              width: 140px;
              margin-right: 12px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              height: 491px;
              img {
                width: 140px;
                height: 90px;
              }
            }
          }
          .carinfo-big__text {
            margin-top: 8px;
            table {
              font: normal 14px "roboto-regular";
              color: #000;
              margin-left: 10px;
              caption {
                font-size: 18px;
                text-align: left;
                margin-left: 5px;
              }
              .grey {
                color: #b9b9b9;
              }
              tr {
                margin: 10px 0;
                td {
                  padding-right: 60px;
                }
                td:nth-child(2) {
                  padding-right: 40px;
                }
              }
            }
          }
        }
        .carinfo-description {
          width: 800px;
          display: inline-block;
          margin-left: 16px;
          margin-top: 23px;
          .all-description{
            font: normal 14px "roboto-light";
            color: #565656;
            margin-top: 13px;
            line-height: 26px;
            letter-spacing: 0.1px;
            text-align: justify;
          }
        }
      }
      .interesting_info{
        margin-right: 26px;
      }
    }
  }
}