@media all {
  body{
    .form-vertical{
      display: inline-block;
      width: 260px;
      background-color: #fff;
      border-radius: 3px;
      margin-top: 53px;
      margin-left: 21px;
      float: left;
      form{
        display: inline-block;
        width: 265px;
        font: normal 14px "roboto-regular";
        .name{
          font-size: 24px;
          margin-left: 7px;
          margin-top: 1px;
        }
        span{
          display: block;
        }
        select{
          height: 35px;
          border: 1px solid #b8b8b8;
          border-radius: 3px;
          background-color: #fff;
          &:focus{
            border: 2px solid black;
          }
        }
        .mark-model{
          margin-top: 22px;
          margin-left: 8px;
          select{
            width: 240px;
            margin-top: 6px;
          }
        }
        .year{
          margin-top: 18px;
          margin-left: 11px;
          select{
            width: 100px;
            margin-top: 7px;
          }
          select:last-child{
            margin-left: 33px;
          }
        }
        .auto-mileage{
          margin-top: 18px;
          margin-left: 9px;
          select{
            margin-top: 7px;
            width: 100px;
          }
          select:last-child{
            margin-left: 34px;
          }
        }
        .auto-price{
          margin-top: 18px;
          margin-left: 9px;
          select{
            margin-top: 7px;
            width: 100px;
          }
          select:last-child{
            margin-left: 34px;
          }
        }
        .auto-fuel{
          margin-top: 20px;
          margin-left: 8px;
          select{
            margin-top: 7px;
            width: 239px;
          }
        }
        .auto-transmission{
          margin-top: 18px;
          margin-left: 9px;
          select{
            margin-top: 7px;
            width: 239px;
          }
        }
        .auto-options{
          margin-top: 17px;
          margin-left: 8px;
          input{
            margin-top: 7px;
            margin-left: 1px;
            margin-right: 7px;
          }
        }
        button{
          display: block;
          width: 260px;
          border: none;
          height: 53px;
          background-color: #09ac70;
          margin-top: 92px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          &:hover{
            background-color: #6a68ac;
            -webkit-animation: si-search-pulse 0.3s 0s ease-out 1;
            -o-animation: si-search-pulse 0.3s 0s ease-out 1;
            animation: si-search-pulse 0.3s 0s ease-out 1;
          }
          i{
            background: url("../img/icon/search.png") no-repeat;
            display: inline-block;
            width: 23px;
            height: 30px;
            margin-left: 9px;
            margin-top: 5px;
          }
        }
        @keyframes si-search-pulse {
          0%{box-shadow: rgba(106, 104, 172, 1) 0px 0px 0px;}
          100%{box-shadow: rgba(106, 104, 172, 0.3) 0px 0px 0px 50px;}
        }
      }
    }
    .content_catalogue{
        width: 850px;
        display: inline-block;
        margin-left: -16px;
      .path_catalogue{
        margin-left: 29px;
        margin-top: 14px;
      }
        .catalogue{
          margin: 0;
          width: 850px;
          display: inline-block;
          h6{
            text-align: left;
            margin: 21px 0 0 26px;
            font: 400 24px roboto-regular;
            letter-spacing: 0.5px;
          }
          .catalogue__line{
            width: 850px;
            margin: 12px auto -9px 23px
          }
        }
      .catalogue-nav{
        margin-top: 52px;
        margin-bottom: 78px;
        margin-left: 71px;
      }
      }
  }
}