@font-face {
  font-family:"brothers";
  src: url("../fonts/Brothers SuperSlant Regular.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto-light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto-italic";
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto-bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto-medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}