footer{
  height: 220px;
  background-color: #4f4f4f;
  .footer-logo{
    display: inline-block;
    margin-top: 3px;
    float: left;
    .logo{
      display: inline-block;
      width: 230px;
      text-decoration: none;
      margin-top: 10px;
      &__first{
        color: #09ac70;
        font: normal 18px 'roboto-italic';
        float: right;
      }
      &__second{
        color: #fff;
        font: normal 35px "brothers";
        font-style: italic;
        letter-spacing: -2px;
      }
    }
    .copyright{
      font: normal 12px "roboto-regular";
      color: #fff;
      margin-top: 37px;
      letter-spacing: 0.5px;
    }
  }
  .footer-nav{
    display: inline-block;
    margin-left: 110px;
    a{
      text-decoration: none;
      color: #fff;
      font: normal 14px "roboto-regular";
      display: block;
      margin-top: 13px;
    }
    .footer-nav__first{
      display: inline-block;
      width: 100px;
    }
    .footer-nav__second{
      display: inline-block;
      width: 60px;
      margin-left: 79px;
    }
  }
  .contact-social{
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
    margin-left: 92px;
    letter-spacing: -0.5px;
    .address{
      font: normal 18px "roboto-light";
      color: #fff;
      line-height: 25px;
    }
    .social{
      margin-top: 13px;
      a{
        margin-left: 16px;
      }
      a:first-child{
        margin-left: 0;
      }
    }
  }
  .contact-phone{
    display: inline-block;
    float: right;
    font: 200 24px "roboto-light";
    color: #fff;
    margin-top: 10px;
    margin-bottom: 12px;
    div{
      letter-spacing: -1px;
      margin-right: 31px;
      margin-bottom: 8px;
    }
    .free-call{
      color: #fff;
      font: normal 16px "roboto-regular";
      text-decoration: none;
      background-color: #09ac70;
      border-radius: 15px;
      padding: 5px 26px;
      margin-left: 14px;
      &:hover{
        -webkit-animation: si-call-pulse .8s 0s ease-out 1;
        -o-animation: si-call-pulse .8s 0s ease-out 1;
        animation: si-call-pulse .8s 0s ease-out 1;
        color: #09ac70;
        background-color: #fff;
      }
    }
    @keyframes si-call-pulse {
      0%{box-shadow: rgba(9, 172, 112, 1) 0px 0px 0px;}
      100%{box-shadow: rgba(9, 172, 112, 0.3) 0px 0px 0px 100px;}
    }
    .develop{
      font: normal 12px "roboto-regular";
      text-align: center;
      margin-top: 37px;
      letter-spacing: 0;
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}