@media all{
  header{
    height: 640px;
    background: url("../img/main-image.jpg") no-repeat;
    background-size: 100%;
    .content{
      width: 1140px;
      margin: 0 auto;
      .logo{
        display: inline-block;
        width: 246px;
        text-decoration: none;
        float: left;
        margin-top: 23px;
        &__first{
          color: #09ac70;
          font: normal 18px 'roboto-italic';
          float: right;
        }
        &__second{
          color: #fff;
          font: 400 34px brothers;
          font-style: italic;
          letter-spacing: -1px;
          margin-left: 11px;
          margin-top: -11px;
          display: inline-block;
        }
      }
      .header-nav{
        display: inline-block;
        margin-left: 46px;
        margin-top: 19px;
        a{
          margin-right: 33px;
          color: #fff;
          font: normal 18px "roboto-regular";
          text-decoration: none;
        }
        a:last-child{
          margin-right: 0;
        }
      }
      .number{
        display: inline-block;
        float: right;
        font: 200 24px "roboto-light";
        color: #fff;
        margin-top: 17px;
        margin-bottom: 12px;
        margin-right: 10px;
        div{
          margin-bottom: 12px;
        }
        a{
          color: #fff;
          font: normal 16px "roboto-regular";
          text-decoration: none;
          background-color: #09ac70;
          border-radius: 15px;
          padding: 5px 26px;
          margin-left: 21px;
          &:hover{
            -webkit-animation: si-call-pulse .8s 0s ease-out 1;
            -o-animation: si-call-pulse .8s 0s ease-out 1;
            animation: si-call-pulse .8s 0s ease-out 1;
            color: #09ac70;
            background-color: #fff;
          }
        }
        @keyframes si-call-pulse {
          0%{box-shadow: rgba(9, 172, 112, 1) 0px 0px 0px;}
          100%{box-shadow: rgba(9, 172, 112, 0.3) 0px 0px 0px 100px;}
        }
      }
      .address{
        color: #fff;
        font: normal 18px "roboto-light";
        margin-left: 293px;
        margin-top: 10px;
        letter-spacing: -0.5px;
      }
      .company-title{
        text-align: center;
        color: #fff;
        margin-top: 156px;
        h3{
          font: bold 42px "roboto-bold";
          letter-spacing: -1.1px;
          margin-bottom: 0;
        }
        h5{
          font: normal 24px "roboto-light";
          margin-top: 3px;
          letter-spacing: -1px;
        }
      }
      .form-horizontal {
        position: relative;
        width: 900px;
        height: 200px;
        border-radius: 10px;
        left: 99px;
        top: 84px;
        box-shadow: -4px 4px 21px rgba(0,0,0,.5);
        form {
          width: 900px;
          height: 200px;
          span {
            display: block;
          }
          select {
          }
          .horizont-mark {
            margin-top: 22px;
            display: inline-block;
            margin-left: 32px;
            select {
              margin-top: 8px;
              width: 150px;
            }
            select:last-child{
              margin-left: 9px;
            }
          }
          .horizont-year {
            margin-top: 24px;
            margin-left: 32px;
            display: inline-block;
            select {
              margin-top: 7px;
              width: 150px;
            }
            select:last-child {
              margin-left: 9px;
            }
          }
          .horizont-mile {
            margin-top: 18px;
            margin-left: 16px;
            display: inline-block;
            select {
              margin-top: 7px;
              width: 150px;
            }
            select:last-child {
              margin-left: 9px;
            }
          }
          .horizont-price {
            margin-top: 18px;
            margin-left: 15px;
            display: inline-block;
            select {
              margin-top: 7px;
              width: 150px;
            }
            select:last-child {
              margin-left: 10px;
            }
          }
          .horizont-btn {
            display: block;
            width: 130px;
            border: none;
            height: 200px;
            background-color: #09ac70;
            margin-top: 0;
            position: absolute;
            right: 0;
            top: 0;
            border-bottom-right-radius: 9px;
            border-top-right-radius: 9px;
            &:hover{
              background-color: #6a68ac;
              -webkit-animation: si-search-pulse 0.3s 0s ease-out 1;
              -o-animation: si-search-pulse 0.3s 0s ease-out 1;
              animation: si-search-pulse 0.3s 0s ease-out 1;
            }
            i {
              background: url("../img/icon/search.png") no-repeat;
              display: inline-block;
              width: 23px;
              height: 30px;
              margin: 0;
            }
          }
          @keyframes si-search-pulse {
            0%{box-shadow: rgba(106, 104, 172, 1) 0px 0px 0px;}
            100%{box-shadow: rgba(106, 104, 172, 0.3) 0px 0px 0px 50px;}
          }
        }
      }
    }
  }
  body{
    width: 1600px;
    margin: 0 auto;
    background-color: #f2f4ef;
    .content{
      width: 1140px;
      margin: 0 auto;
      .deals{
        margin-top: 144px;
        &__title {
          &:hover {
            .border {
              -webkit-animation: si-h6-border 1.5s 0s ease-out 1 alternate;
              -o-animation: si-h6-border 1.5s 0s ease-out 1 alternate;
              animation: si-h6-border 1.5s 0s ease-out 1 alternate;
              width: 800px;
            }
          }
          h6 {
            color: #000;
            font: normal 30px "roboto-light";
            margin: 6px;
            text-align: center;
          }
          .border {
            border-bottom: 3px solid;
            width: 127px;
            margin: 0 auto 31px;
          }
        }
        @keyframes si-h6-border {
          0% {border-bottom: 3px solid #000; width: 127px;}
          100% {border-bottom: 3px solid #000; width: 800px;}
        }
        &__line {
          width: 1110px;
          margin: 0 auto 3px 9px;
          a {
            text-decoration: none;
            color: #000;
            .deals__car {
              display: inline-block;
              margin-left: 7px;
              margin-top: 10px;
              img {
                width: 267px;
                height: 190px;
                display: block;
              }
              .car-description {
                background-color: #fff;
                border-bottom: 1px solid #f0f0f0;
                line-height: 38px;
                .car-model {
                  font: normal 16.15px "roboto-regular";
                  line-height: 30px;
                  margin-left: 10px;
                }
                .car-price {
                  float: right;
                  color: #09ac70;
                  line-height: 30px;
                  padding-top: 5px;
                  padding-right: 10px;
                }
              }
              .car-details {
                background-color: #fff;
                height: 25px;
                ul {
                  list-style: circle;
                  margin: 0;
                  padding: 8px 0 0;
                  overflow: hidden;
                  li {
                    font: normal 10.77px "roboto-light";
                    color: #b9b9b9;
                    float: left;
                    margin-left: 30px;
                  }
                }
              }
            }
            .hover-details{
              display: none;
              position: absolute;
              width: 266px;
              height: 190px;
              background-color: #000;
              opacity: 0.8;
              margin-top: 10px;
              margin-left: 8px;
              .hover-icon{
                background: url("../img/icon/hover.png") no-repeat;
                width: 33px;
                height: 33px;
                display: inline-block;
                position: relative;
                left: 50%;
                margin-left: -16.5px;
                margin-top: 65px;
              }
              .hover-text{
                color: #fff;
                text-align: center;
                position: relative;
                top: 7px;
              }
            }
          }
          .hover-effect:hover{
            .hover-details{
              display: inline-block;
            }
          }
        }
        .all-car{
          background-color: #09ac70;
          color: #fff;
          font: normal 18px "roboto-regular";
          border: none;
          padding: 12px 29px;
          border-radius: 4px;
          margin: 46px auto 49px;
          display: block;
          &:hover{
            -webkit-animation: si-button-pulse .8s 0s ease-out infinite alternate;
            -o-animation: si-button-pulse .8s 0s ease-out infinite alternate;
            animation: si-button-pulse .8s 0s ease-out infinite alternate;
          }
        }
        @keyframes si-button-pulse {
          0%{box-shadow: rgba(9, 172, 112, 0.3) 0px 0px 0px;}
          100%{box-shadow: rgba(9, 172, 112, 0.4) 0px 0px 15px 20px;}
        }
      }
    }
    .advantages{
      background-color: #6a68ac;
      height: 450px;
      .content{
        .advantages__title {
          &:hover {
            .border {
              -webkit-animation: si-h6-border-white 1.5s 0s ease-out 1 alternate;
              -o-animation: si-h6-border-white 1.5s 0s ease-out 1 alternate;
              animation: si-h6-border-white 1.5s 0s ease-out 1 alternate;
              width: 800px;
            }
          }
          h6 {
            color: #fff;
            text-align: center;
            font: normal 30px "roboto-light";
            margin: 0;
            padding-top: 45px;
          }
          .border {
            width: 127px;
            border-bottom: 4px solid #fff;
            margin: 7px auto 0;
          }
        }
        @keyframes si-h6-border-white {
          0% {border-bottom: 4px solid #fff; width: 100px;}
          100% {border-bottom: 4px solid #fff; width: 800px;}
        }
        .icons {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 41px;
          .icons__container {
            display: inline-block;
            height: 100px;
            margin: 0 56px;
            img {
              margin: auto auto 15px;
              display: flex;
            }
            div {
              color: #fff;
              text-align: center;
            }
          }
          .icons__container:nth-child(3){
            padding-top: 20px;
          }
          .icons__container:nth-child(4){
            padding-top: 63px;
          }
        }
      }
    }
    .news{
      margin-top: 51px;
      .content{
        .news__head-title {
          &:hover {
            .border {
              -webkit-animation: si-h6-border-bottom 1.5s 0s ease-out 1 alternate;
              -o-animation: si-h6-border-bottom 1.5s 0s ease-out 1 alternate;
              animation: si-h6-border-bottom 1.5s 0s ease-out 1 alternate;
              width: 800px;
            }
          }
          h6 {
            font: normal 30px "roboto-light";
            color: #000;
            text-align: center;
            margin: 0;
          }
          .border {
            width: 129px;
            border-bottom: 3px solid #000;
            margin: 5px auto 0;
          }
        }
        @keyframes si-h6-border-bottom {
          0% {border-bottom: 3px solid #000; width: 127px;}
          100% {border-bottom: 3px solid #000; width: 800px;}
        }
        .news-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 38px;
          .news-container__block {
            width: 340px;
            display: inline-block;
            .news-title {
              font: normal 16.83px "roboto-regular";
              color: #000;
              line-height: 25px;
              letter-spacing: -0.5px;
            }
            .news-text {
              font: normal 13.09px "roboto-light";
              color: #7e7e7e;
              line-height: 17px;
              letter-spacing: -0.5px;
              margin-top: 4px;
            }
            .read-all {
              text-decoration: none;
              font: normal 13.09px "roboto-regular";
              color: #09ac70;
              background: url("../img/icon/arrow-right.png") 130px no-repeat;
              padding-right: 15px;
              float: right;
              margin-top: 20px;
              letter-spacing: -0.5px;
            }
          }
          .news-container__block:nth-child(2){
            margin: 0 46px;
          }
        }
        .all-news{
          background-color: #09ac70;
          color: #fff;
          font: normal 18px "roboto-regular";
          border: none;
          padding: 12px 50px;
          border-radius: 4px;
          margin: 54px auto 47px;
          display: block;
          &:hover{
            -webkit-animation: button-pulse .8s 0s ease-out infinite alternate;
            -o-animation: button-pulse .8s 0s ease-out infinite alternate;
            animation: button-pulse .8s 0s ease-out infinite alternate;
          }
        }
        @keyframes button-pulse {
          0%{box-shadow: rgba(9, 172, 112, 0.3) 0px 0px 0px;}
          100%{box-shadow: rgba(9, 172, 112, 0.4) 0px 0px 15px 20px;}
        }
      }
    }
  }
}