@media all {
  body{
    .content {
      article {
        width: 826px;
        margin-bottom: 178px;
        display: inline-block;
        h2{
          font: normal 30px "roboto-medium";
          margin-top: 15px;
          margin-left: 29px;
          letter-spacing: -0.5px;
          margin-bottom: 0;
        }
        ul {
          list-style: circle;
          margin-top: 6px;
          li {
            font: normal 12px "roboto-light";
            color: #09ac70;
            float: left;
          }
          li:last-child {
            margin-left: 35px;
          }
        }
        img {
          display: block;
          margin-top: 43px;
          margin-left: 23px;
        }
        .news-description{
          text-align: justify;
          font: normal 16px "roboto-light";
          margin-top: 27px;
          margin-left: 23px;
          line-height: 26px;
        }
      }
      .interesting{
        float: right;
        width: 285px;
        margin-top: 0;
        margin-right: 5px;
        .interesting__title{
          font: normal 22px "roboto-regular";
          color: #000;
          margin-top: 14px;
          line-height: 26px;
        }
        .deal__line_right{
          width: 0;
          margin-left: -6px;
          margin-top: 0;
          .deals__car_right{
            margin-bottom: 7px;
          }
        }
      }
    }
  }
}