@media all {
  header{
    .hide{
      display: none;
    }
  }
  .small{
    height: 120px;
  }
  body {
    .content{
      .path{
        color: #929292;
        margin-top: 17px;
        margin-left: 22px;
        a{
          text-decoration: none;
          font: normal 14px "roboto-regular";
          color: #929292;
        }
      }
    }
    .news_page{
      margin-top: 0;
      .content {
        .news_title{
          font: normal 30px "roboto-medium";
          color: #000;
          margin-top: 10px;
          margin-left: 19px;
          letter-spacing: -1px;
          margin-bottom: 0;
        }
        .news-container {
          .news-container__block_big:nth-child(2) {
            margin: 0 44px;
          }
        }
        .news-container_big{
          margin-top: 19px;
          margin-bottom: 29px;
        }
      }
    }
    .news-nav{
      text-align: center;
      margin-top: 38px;
      margin-bottom: 21px;
      a{
        text-decoration: none;
        font: normal 18px "roboto-regular";
        color: #929292;
        margin: 0 7px;
      }
      .active{
        color: #09ac70;
      }
    }
  }
}