//= template/head.html
<header class="small">
    <div class="content">
        <a href="#" class="logo">
            <span class="logo__first">АВТОСАЛОН</span>
            <span class="logo__second">AVTOEXPORT24</span>
        </a>
        <div class="header-nav">
            <a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Каталог</a>
            <a href="#">Новости</a>
            <a href="#">Контакты</a>
            <a href="#">faq</a>
        </div>
        <div class="number">
            <div>+375 (29) 711-11-11</div>
            <a href="#" class="free-call">Заказать звонок</a>
        </div>
        <div class="address">г. Могилев, ул. Ленинская, 48, д. 31</div>
        <div class="company-title hide">
            <h3> РЕАЛЛИЗАЦИЯ КОММЕРЧЕСКОГО<br>ТРАНСПОРТА</h3>
            <h5>АВТОМОБИЛИ ИЗ ЕВРОПЫ БЕЗ ПРОБЕГА ПО РФ</h5>
        </div>
    </div>
</header>
<div class="content">
    <div class="path">
        <a href="#">Главная</a>
        <span>&#62;</span>
        <a href="#">Каталог</a>
        <span>&#62;</span>
        <a href="#">Audi</a>
        <span>&#62;</span>
        <a href="#">Q5</a>
    </div>
    <div class="about-car">
        <div class="carinfo-big">
        <div class="carinfo-big__title">
            <div class="carinfo-big__model">Продажа AUDI Q5 2013 г.</div><div class="carinfo-big__price">18 800$</div>
            <div class="carinfo-big__details">
                <ul>
                    <li>2010</li>
                    <li>34 000 км</li>
                    <li>Дизель</li>
                </ul>
            </div>
        </div>
        <div class="carinfo-big__body">
            <div class="left-photo">
                <a href="#"></a>
                <img src="img/catalogue-big-car.jpg" alt="">
                <a href="#"></a>
            </div>
            <div class="right-photo">
                <img src="img/catalogue-big-car.jpg" alt="">
                <img src="img/catalogue-big-car.jpg" alt="">
                <img src="img/catalogue-big-car.jpg" alt="">
                <img src="img/catalogue-big-car.jpg" alt="">
                <img src="img/catalogue-big-car.jpg" alt="">
            </div>
        </div>
        <div class="carinfo-big__text">
            <table>
                <caption>Комплектация</caption>
                <thead></thead>
                <tbody>
                <tr>
                    <td class="grey">Год выпуска</td>
                    <td>2013</td>
                    <td class="grey">Таможня</td>
                    <td>Растаможен</td>
                </tr>
                <tr>
                    <td class="grey">Пробег</td>
                    <td>45 000 км</td>
                    <td class="grey">Пробег</td>
                    <td>45 000 км</td>
                </tr>
                <tr>
                    <td class="grey">Цвет</td>
                    <td>Белый</td>
                    <td class="grey">Цвет</td>
                    <td>Белый</td>
                </tr>
                <tr>
                    <td class="grey">Двигатель</td>
                    <td>2.2 л. / 190 л.с. / дизель</td>
                    <td class="grey">Двигатель</td>
                    <td>2.2 л. / 190 л.с. / дизель</td>
                </tr>
                <tr>
                    <td class="grey">Владельцы</td>
                    <td>1 Владелец</td>
                    <td class="grey">Владельцы</td>
                    <td>1 Владелец</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div class="carinfo-description">
        <div>Описание</div>
        <div class="all-description">
            Дополнительно установлена кнопка багажника и связана с брелком. Также установлен передний парктроник в
            дополнение к заднему штатному.
            В машине установлено Webasto двигателя и салона - это прогрев машины с брелка (пока пьешь кофе утром дома),
            зимой работает отлично, в салоне тепло, стекла оттаявшие, двигатель живет долго и счастливо.
            У машины 1 владелец.
            Покупалась у официалов за наличные.
            Не кредитная машина.
            Пробег оригинальный, машина обслуживалась у официалов даже после окончания гарантии, что отражено в сервисной книге.
            Машина живая, все работает как часы, при проверке на компьтере никаких ошибок.
            Салон - кожа и алькантара в отличном состоянии.
            Подушка спереди отключается, можно возить ребенка.
            Круиз-контроль удобный на каждый день.
            Коробка работает отлично во всех режимах.
            Турбина тоже молодец.
            Музыка отличная, много басов, чистый звук.
            Все лампочки горят, все датчики работают.
            Последнее обслуживание было в апреле, все жидкости, фильтры, тормоза.
            Отдаем зимнюю резину.
        </div>
    </div>
    </div>
    <div class="deals interesting interesting_info">
        <div class="interesting__title">Авто которые могут<br> вас заинтересовать</div>
        <div class="deals__line deal__line_right">
            <a href="" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car deals__car_right">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
            <a href="" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car deals__car_right">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
            <a href="" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car deals__car_right">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>



//= template/footer.html
