//= template/head.html
<header class="small">
    <div class="content">
        <a href="#" class="logo">
            <span class="logo__first">АВТОСАЛОН</span>
            <span class="logo__second">AVTOEXPORT24</span>
        </a>
        <div class="header-nav">
            <a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Каталог</a>
            <a href="#">Новости</a>
            <a href="#">Контакты</a>
            <a href="#">faq</a>
        </div>
        <div class="number">
            <div>+375 (29) 711-11-11</div>
            <a href="#" class="free-call">Заказать звонок</a>
        </div>
        <div class="address">г. Могилев, ул. Ленинская, 48, д. 31</div>
        <div class="company-title hide">
            <h3> РЕАЛЛИЗАЦИЯ КОММЕРЧЕСКОГО<br>ТРАНСПОРТА</h3>
            <h5>АВТОМОБИЛИ ИЗ ЕВРОПЫ БЕЗ ПРОБЕГА ПО РФ</h5>
        </div>
    </div>
</header>
<div class="content">
    <div class="content form-vertical">
        <form>
            <div class="name">ФИЛЬТР</div>
            <div class="mark-model">
            <span>Марка и модель автомобиля</span>
            <select name="" class="auto-mark">
            <option value="">Марка</option>
            <option value="">Audi</option>
            <option value="">Opel</option>
            <option value="">Reno</option>
        </select>
            <select name="" class="auto-model">
            <option value="">Модель</option>
            <option value="">Audi</option>
            <option value="">Opel</option>
            <option value="">Reno</option>
        </select>
        </div>
            <div class="year">
            <span>Год выпуска</span>
            <select name="" class="year-from">
                <option value="">От</option>
                <option value="">1991</option>
                <option value="">1992</option>
                <option value="">1993</option>
            </select>
            <select name="" class="year-to">
                <option value="">До</option>
                <option value="">2010</option>
                <option value="">2011</option>
                <option value="">2012</option>
            </select>
        </div>
            <div class="auto-mileage">
            <span>Пробег</span>
            <select name="" class="mileage-from">
                <option value="">От</option>
                <option value="">1995461</option>
                <option value="">1954692</option>
                <option value="">1954693</option>
            </select>
            <select name="" class="mileage-to">
                <option value="">До</option>
                <option value="">2014560</option>
                <option value="">2045611</option>
                <option value="">2045612</option>
            </select>
        </div>
            <div class="auto-price">
            <span>Цена</span>
            <select name="" class="price-from">
                <option value="">От</option>
                <option value="">1995461</option>
                <option value="">1954692</option>
                <option value="">1954693</option>
            </select>
            <select name="" class="price-to">
                <option value="">До</option>
                <option value="">2014560</option>
                <option value="">2045611</option>
                <option value="">2045612</option>
            </select>
        </div>
            <div class="auto-fuel">
            <span>Тип топлива</span>
            <select name="" class="fuel-type">
                <option value="">Дизель</option>
                <option value="">Бензин</option>
                <option value="">Газ</option>
            </select>
        </div>
            <div class="auto-transmission">
            <span>КПП</span>
            <select name="" class="transmission-type">
                <option value="">КПП</option>
                <option value="">Механика</option>
                <option value="">Автомат</option>
            </select>
        </div>
            <div class="auto-options">
            <span>Дополнительные функции</span>
            <input type="checkbox">ABS
        </div>
            <button><i></i></button>
        </form>
    </div>
    <div class="content content_catalogue">
        <div class="path path_catalogue">
        <a href="#">Главная</a>
        <span>&#62;</span>
        <a href="#">Каталог</a>
        </div>
        <div class="deals catalogue">
            <h6>КАТАЛОГ</h6>
            <div class="deals__line catalogue__line">
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
                </a>
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
                </a>
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
                </a>
            </div>
            <div class="deals__line catalogue__line">
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                        <img src="img/car.jpg" alt="">
                        <div class="car-description">
                            <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                        </div>
                        <div class="car-details">
                            <ul>
                                <li class="year">2010</li>
                                <li class="mileage">34 000</li>
                                <li class="engine">Дизель</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                        <img src="img/car.jpg" alt="">
                        <div class="car-description">
                            <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                        </div>
                        <div class="car-details">
                            <ul>
                                <li class="year">2010</li>
                                <li class="mileage">34 000</li>
                                <li class="engine">Дизель</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                        <img src="img/car.jpg" alt="">
                        <div class="car-description">
                            <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                        </div>
                        <div class="car-details">
                            <ul>
                                <li class="year">2010</li>
                                <li class="mileage">34 000</li>
                                <li class="engine">Дизель</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="deals__line catalogue__line">
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                        <img src="img/car.jpg" alt="">
                        <div class="car-description">
                            <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                        </div>
                        <div class="car-details">
                            <ul>
                                <li class="year">2010</li>
                                <li class="mileage">34 000</li>
                                <li class="engine">Дизель</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                        <img src="img/car.jpg" alt="">
                        <div class="car-description">
                            <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                        </div>
                        <div class="car-details">
                            <ul>
                                <li class="year">2010</li>
                                <li class="mileage">34 000</li>
                                <li class="engine">Дизель</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                        <img src="img/car.jpg" alt="">
                        <div class="car-description">
                            <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                        </div>
                        <div class="car-details">
                            <ul>
                                <li class="year">2010</li>
                                <li class="mileage">34 000</li>
                                <li class="engine">Дизель</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="deals__line catalogue__line">
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                        <img src="img/car.jpg" alt="">
                        <div class="car-description">
                            <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                        </div>
                        <div class="car-details">
                            <ul>
                                <li class="year">2010</li>
                                <li class="mileage">34 000</li>
                                <li class="engine">Дизель</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                        <img src="img/car.jpg" alt="">
                        <div class="car-description">
                            <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                        </div>
                        <div class="car-details">
                            <ul>
                                <li class="year">2010</li>
                                <li class="mileage">34 000</li>
                                <li class="engine">Дизель</li>
                            </ul>
                        </div>
                    </div>
                </a>
                <a href="" class="hover-effect">
                    <div class="hover-details">
                        <div class="hover-icon"></div>
                        <div class="hover-text">Подробнее</div>
                    </div>
                    <div class="deals__car catalogue__line_container">
                        <img src="img/car.jpg" alt="">
                        <div class="car-description">
                            <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                        </div>
                        <div class="car-details">
                            <ul>
                                <li class="year">2010</li>
                                <li class="mileage">34 000</li>
                                <li class="engine">Дизель</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="news-nav catalogue-nav">
            <a href="#"><</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">...</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">></a>
        </div>
    </div>
</div>






//= template/footer.html