//= template/head.html
//= template/header.html

<div class="content">
    <div class="deals">
        <div class="deals__title">
            <h6>СПЕЦПРЕДЛОЖЕНИЯ</h6>
            <div class="border"></div>
        </div>
        <div class="deals__line">
            <a href="#" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car">
            <img src="img/car.jpg" alt="">
            <div class="car-description">
                <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
            </div>
            <div class="car-details">
                <ul>
                    <li class="year">2010</li>
                    <li class="mileage">34 000</li>
                    <li class="engine">Дизель</li>
                </ul>
            </div>
        </div>
            </a>
            <a href="#" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
            <a href="#" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
            <a href="#" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
        <div class="deals__line">
            <a href="#" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
            <a href="#" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
            <a href="#" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
            <a href="#" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
        <button class="all-car">ВСЕ АВТОМОБИЛИ</button>
    </div>
</div>
<div class="advantages">
    <div class="content">
        <div class="advantages__title">
            <h6>НАШИ ПРЕИМУЩЕСТВА</h6>
            <div class="border"></div>
        </div>
        <div class="icons">
            <div class="icons__container icons_first">
            <img src="img/icon/location.png" alt="местоположение автосалона avtoexport24">
            <div>Мы находимся в Республике<br> Беларусь, г. Могилев (500 км.<br> от Москвы)</div>
        </div>
            <div class="icons__container">
            <img src="img/icon/like.png" alt="">
            <div>6 лет работы<br> с 2010 года</div>
        </div>
            <div class="icons__container">
                <img src="img/icon/funds.png" alt="цены автосалона avtoexport24">
                <div>У нас самые выгодные<br> цены</div>
        </div>
            <div class="icons__container">
            <img src="img/icon/car.png" alt="автомобили автосалона avtoexport24">
            <div>Большой выбор<br> коммерческого транспорта</div>
        </div>
        </div>
    </div>
</div>
<div class="news">
    <div class="content">
        <div class="news__head-title">
            <h6>НОВОСТИ</h6>
            <div class="border"></div>
        </div>
        <div class="news-container">
            <div class="news-container__block">
                <img src="img/news-car.jpg" alt="">
                <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
                <div class="news-text">
                    С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
                    экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
                    удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
                    Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
                </div>
                <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
            </div>
            <div class="news-container__block">
                <img src="img/news-car.jpg" alt="">
                <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
                <div class="news-text">
                    С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
                    экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
                    удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
                    Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
                </div>
                <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
            </div>
            <div class="news-container__block">
                <img src="img/news-car.jpg" alt="">
                <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
                <div class="news-text">
                    С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
                    экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
                    удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
                    Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
                </div>
                <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
            </div>
        </div>
        <button class="all-news">ВСЕ НОВОСТИ</button>
    </div>
</div>
//= template/footer.html


