//= template/head.html
<header class="small">
    <div class="content">
        <a href="#" class="logo">
            <span class="logo__first">АВТОСАЛОН</span>
            <span class="logo__second">AVTOEXPORT24</span>
        </a>
        <div class="header-nav">
            <a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Каталог</a>
            <a href="#">Новости</a>
            <a href="#">Контакты</a>
            <a href="#">faq</a>
        </div>
        <div class="number">
            <div>+375 (29) 711-11-11</div>
            <a href="#" class="free-call">Заказать звонок</a>
        </div>
        <div class="address">г. Могилев, ул. Ленинская, 48, д. 31</div>
        <div class="company-title hide">
            <h3> РЕАЛЛИЗАЦИЯ КОММЕРЧЕСКОГО<br>ТРАНСПОРТА</h3>
            <h5>АВТОМОБИЛИ ИЗ ЕВРОПЫ БЕЗ ПРОБЕГА ПО РФ</h5>
        </div>
    </div>
</header>
<div class="content">
    <div class="path">
        <a href="#">Главная</a>
        <span>&#62;</span>
        <a href="#">Каталог</a>
        <span>&#62;</span>
        <a href="#">Audi</a>
        <span>&#62;</span>
        <a href="#">Q5</a>
    </div>
    <article>
        <h2>"АвтоВАЗ" лечиться от убытков</h2>
        <ul class="article-info">
            <li>01.11.2016</li>
            <li>Admin</li>
        </ul>
        <img src="img/big-news.jpg" alt="">
        <div class="news-description">
            Согласно опубликованному отчету по МФСО группы «АвтоВАЗ» за девять месяцев 2016 года, убыток предприятия
            составил 34,203 млрд руб. Это примерно в 2,2 раза больше, чем за аналогичный период прошлого года, когда
            отечественный автогигант потерял 15,8 млрд руб. При этом убыток от основной деятельности (EBIT) до обесценения
            составил 12,1 млрд. руб., что на 17% лучше аналогичного показателя годом ранее. Обесценение, тест на которое
            предусмотрен правилами МСФО, составило 19 млрд руб. При этом доля моделей Lada на российском рынке легковых
            автомобилей достигла 19,9% против 18,1% годом ранее. Продажи марки составили 189 852 автомобиля, что на 6,7%
            ниже аналогичного периода 2015 года на фоне общего сокращения рынка на 15,1%.<br>
            В итоге выручка группы компаний за три квартала составила 130,5 млрд руб., что на 0,6% ниже уровня 2015 года.<br>
            В пресс-службе «АвтоВАЗа» пояснили: «Обесценение не влияет на денежные потоки и отражает только изменение
            стоимости активов компании в условиях продолжающегося падения российского автомобильного рынка. Обесценение
            обратимо в случае существенного улучшения рынка и прибыли компании в будущем».<br><br><br>
            Между тем в результате продолжающейся реструктуризации группа «АвтоВАЗ» сократила операционный убыток в третьем
            квартале на 63% — с 9,35 млрд руб. в 2015 году до 3,5 млрд руб. в июле — сентябре 2016 года.
        </div>
    </article>
    <div class="deals interesting">
        <div class="interesting__title">Авто которые могут<br> вас заинтересовать</div>
        <div class="deals__line deal__line_right">
            <a href="" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car deals__car_right">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
            <a href="" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car deals__car_right">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
            <a href="" class="hover-effect">
                <div class="hover-details">
                    <div class="hover-icon"></div>
                    <div class="hover-text">Подробнее</div>
                </div>
                <div class="deals__car deals__car_right">
                <img src="img/car.jpg" alt="">
                <div class="car-description">
                    <span class="car-model">AUDI Q5 2013 г.</span><span class="car-price">18 800 $</span>
                </div>
                <div class="car-details">
                    <ul>
                        <li class="year">2010</li>
                        <li class="mileage">34 000</li>
                        <li class="engine">Дизель</li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
    </div>

</div>



//= template/footer.html
