//= template/head.html
<header class="small">
    <div class="content">
        <a href="#" class="logo">
            <span class="logo__first">АВТОСАЛОН</span>
            <span class="logo__second">AVTOEXPORT24</span>
        </a>
        <div class="header-nav">
            <a href="#">Главная</a>
            <a href="#">О нас</a>
            <a href="#">Каталог</a>
            <a href="#">Новости</a>
            <a href="#">Контакты</a>
            <a href="#">faq</a>
        </div>
        <div class="number">
            <div>+375 (29) 711-11-11</div>
            <a href="#" class="free-call">Заказать звонок</a>
        </div>
        <div class="address">г. Могилев, ул. Ленинская, 48, д. 31</div>
        <div class="company-title hide">
            <h3> РЕАЛЛИЗАЦИЯ КОММЕРЧЕСКОГО<br>ТРАНСПОРТА</h3>
            <h5>АВТОМОБИЛИ ИЗ ЕВРОПЫ БЕЗ ПРОБЕГА ПО РФ</h5>
        </div>
    </div>
</header>
<div class="content">
    <div class="path">
        <a href="#">Главная</a>
        <span>&#62;</span>
        <a href="#">Каталог</a>
        <span>&#62;</span>
        <a href="#">Audi</a>
        <span>&#62;</span>
        <a href="#">Q5</a>
    </div>
</div>
<div class="news news_page">
    <div class="content">
        <h4 class="news_title">НОВОСТИ</h4>
        <div class="news-container news-container_big">
            <div class="news-container__block">
        <img src="img/news-car.jpg" alt="">
        <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
        <div class="news-text">
            С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
            экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
            удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
            Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
        </div>
        <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
    </div>
            <div class="news-container__block news-container__block_big">
        <img src="img/news-car.jpg" alt="">
        <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
        <div class="news-text">
            С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
            экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
            удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
            Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
        </div>
        <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
    </div>
            <div class="news-container__block">
        <img src="img/news-car.jpg" alt="">
        <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
        <div class="news-text">
            С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
            экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
            удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
            Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
        </div>
        <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
    </div>
        </div>
        <div class="news-container news-container_big">
            <div class="news-container__block">
            <img src="img/news-car.jpg" alt="">
            <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
            <div class="news-text">
                С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
                экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
                удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
                Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
            </div>
            <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
        </div>
            <div class="news-container__block news-container__block_big">
            <img src="img/news-car.jpg" alt="">
            <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
            <div class="news-text">
                С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
                экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
                удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
                Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
            </div>
            <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
        </div>
            <div class="news-container__block">
            <img src="img/news-car.jpg" alt="">
            <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
            <div class="news-text">
                С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
                экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
                удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
                Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
            </div>
            <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
        </div>
        </div>
        <div class="news-container news-container_big">
            <div class="news-container__block">
            <img src="img/news-car.jpg" alt="">
            <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
            <div class="news-text">
                С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
                экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
                удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
                Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
            </div>
            <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
        </div>
            <div class="news-container__block news-container__block_big">
            <img src="img/news-car.jpg" alt="">
            <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
            <div class="news-text">
                С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
                экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
                удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
                Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
            </div>
            <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
        </div>
            <div class="news-container__block">
            <img src="img/news-car.jpg" alt="">
            <div class="news-title">ГИБРИДНЫЙ HYUNDAI С ЗАКИСЬЮ АЗОТА<br> РАЗОГНАЛИ ПОЧТИ ДО 260 КМ/Ч</div>
            <div class="news-text">
                С началом эры гибридов, этот вид автомобилей стал более популярней, из-за своей
                экономичности, поначалу это были редкие и дорогие машины. Нынче гибридной установкой под капотом не
                удивишь. Hyundai Sonata весьма знаменитая и элегантная модель автомобиля. Но последняя доработка
                Сонаты стала интересной, Hyundai выпустил гибрид Sonata.
            </div>
            <a href="#" class="read-all">ЧИТАТЬ ПОЛНОСТЬЮ</a>
        </div>
        </div>
    </div>
</div>
<div class="news-nav">
    <a href="#"><</a>
    <a href="#">1</a>
    <a href="#" class="active">2</a>
    <a href="#">...</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">></a>
</div>


//= template/footer.html
